.adminHome {
    display: flex;
    flex-direction: row;
    height: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px #000;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.table {
    width: 100%;
    height: 100%;
    margin-right: 20px;
}

#Username {
    border: none;
    border-bottom: 1px solid;
}

.screen {
    width: 100%;
    height: 20px;
    background: #4388cc;
    color: #fff;
    line-height: 20px;
    font-size: 15px;
}

.smallBox::before {
    content: ".";
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
}

.greenBox::before {
    content: "";
    background: Green;
}

.redBox::before {
    content: "";
    background: Red;
}

.emptyBox::before {
    content: "";
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color: #ccc;
}

.seats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.seatGap {
    width: 40px;
}

.seatVGap {
    height: 40px;
}

table {
    text-align: center;
    margin-left: 8%;
}


.Displaytable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.Displaytable td,
.Displaytable th {
    border: 1px solid;
    text-align: left;
}

textarea {
    border: none;
    background: transparent;
}

input[type=checkbox] {
    width: 15px;
    margin-right: 18px;
}

input[type=checkbox]:before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color: #ccc;
}

input[type="checkbox"]:checked:before {
    background-color: Green;
    font-size: 15px;
}